.title1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 25px;
    text-shadow: 12px 8px 5px orange;
}
body{
    background-color: rgb(244, 231, 219);
}
nav{
    text-align:center;
    font-size: 14px;
    background-color: rgb(245, 162, 80);
}
.w1{
    background-color: white;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
    overflow: hidden;
    height: 500px;
}
.w2{
    background-color: white;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;

    height: 500px;
}
.imgme{
    height: 460px;
    float: left;
    background-color: white;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
    overflow: hidden;
}
.text1{
    float: right;

}
.text2{
    font-size: 50px;
    text-align: center;
}
.p1{
    font-size: 40px;
}
.ul1{
    font-size: 40px;
}